
repair/.idea/vcs.xml
repair/pyggi/__pycache__/__init__.cpython-310.pyc
repair/pyggi/__pycache__/__init__.cpython-311.pyc
repair/pyggi/algorithms/__pycache__/__init__.cpython-311.pyc
repair/pyggi/algorithms/__pycache__/local_search.cpython-311.pyc
repair/pyggi/base/__pycache__/__init__.cpython-310.pyc
repair/pyggi/base/__pycache__/__init__.cpython-311.pyc
repair/pyggi/base/__pycache__/algorithm.cpython-310.pyc
repair/pyggi/base/__pycache__/algorithm.cpython-311.pyc
repair/pyggi/base/__pycache__/edit.cpython-310.pyc
repair/pyggi/base/__pycache__/edit.cpython-311.pyc
repair/pyggi/base/__pycache__/patch.cpython-310.pyc
repair/pyggi/base/__pycache__/patch.cpython-311.pyc
repair/pyggi/base/__pycache__/program.cpython-310.pyc
repair/pyggi/base/__pycache__/program.cpython-311.pyc
repair/pyggi/line/__pycache__/__init__.cpython-310.pyc
repair/pyggi/line/__pycache__/__init__.cpython-311.pyc
repair/pyggi/line/__pycache__/engine.cpython-310.pyc
repair/pyggi/line/__pycache__/engine.cpython-311.pyc
repair/pyggi/line/__pycache__/line.cpython-310.pyc
repair/pyggi/line/__pycache__/line.cpython-311.pyc
repair/pyggi/tree/__pycache__/__init__.cpython-310.pyc
repair/pyggi/tree/__pycache__/__init__.cpython-311.pyc
repair/pyggi/tree/__pycache__/abstract_engine.cpython-310.pyc
repair/pyggi/tree/__pycache__/abstract_engine.cpython-311.pyc
repair/pyggi/tree/__pycache__/astor_engine.cpython-310.pyc
repair/pyggi/tree/__pycache__/astor_engine.cpython-311.pyc
repair/pyggi/tree/__pycache__/tree.cpython-311.pyc
repair/pyggi/tree/__pycache__/xml_engine.cpython-311.pyc
repair/pyggi/utils/__pycache__/__init__.cpython-310.pyc
repair/pyggi/utils/__pycache__/__init__.cpython-311.pyc
repair/pyggi/utils/__pycache__/helpers.cpython-310.pyc
repair/pyggi/utils/__pycache__/helpers.cpython-311.pyc
repair/pyggi/utils/__pycache__/logger.cpython-310.pyc
repair/pyggi/utils/__pycache__/logger.cpython-311.pyc
repair/framework/__pycache__/__init__.cpython-311.pyc
repair/framework/__pycache__/crossover.cpython-311.pyc
repair/.idea/inspectionProfiles/profiles_settings.xml
repair/.idea/misc.xml
repair/.idea/modules.xml
repair/.idea/source.iml
repair/RustCode/AST_Scripts/__pycache__/XMLVisitor.cpython-311.pyc
repair/RustCode/AST_Scripts/__pycache__/XMLPrinter.cpython-311.pyc
repair/RustCode/AST_Scripts/__pycache__/XMLExpVisitor.cpython-311.pyc
repair/RustCode/AST_Scripts/__pycache__/XMLExpParser.cpython-311.pyc
repair/RustCode/AST_Scripts/__pycache__/XMLExpLexer.cpython-311.pyc
repair/RustCode/AST_Scripts/__pycache__/test_simulator.cpython-311.pyc
repair/RustCode/AST_Scripts/__pycache__/simulator.cpython-311.pyc
repair/RustCode/AST_Scripts/__pycache__/ExpVisitor.cpython-311.pyc
repair/RustCode/AST_Scripts/__pycache__/ExpParser.cpython-311.pyc

repair/pyggi/sample/bst_rust/target/*

# Ignore logs
logs/

# Ignore temp_variants and its subdirectories
tmp_variants/

*.pyc
*Zone.Identifier

.venv/*