
source/.idea/vcs.xml
source/pyggi/__pycache__/__init__.cpython-310.pyc
source/pyggi/__pycache__/__init__.cpython-311.pyc
source/pyggi/algorithms/__pycache__/__init__.cpython-311.pyc
source/pyggi/algorithms/__pycache__/local_search.cpython-311.pyc
source/pyggi/base/__pycache__/__init__.cpython-310.pyc
source/pyggi/base/__pycache__/__init__.cpython-311.pyc
source/pyggi/base/__pycache__/algorithm.cpython-310.pyc
source/pyggi/base/__pycache__/algorithm.cpython-311.pyc
source/pyggi/base/__pycache__/edit.cpython-310.pyc
source/pyggi/base/__pycache__/edit.cpython-311.pyc
source/pyggi/base/__pycache__/patch.cpython-310.pyc
source/pyggi/base/__pycache__/patch.cpython-311.pyc
source/pyggi/base/__pycache__/program.cpython-310.pyc
source/pyggi/base/__pycache__/program.cpython-311.pyc
source/pyggi/line/__pycache__/__init__.cpython-310.pyc
source/pyggi/line/__pycache__/__init__.cpython-311.pyc
source/pyggi/line/__pycache__/engine.cpython-310.pyc
source/pyggi/line/__pycache__/engine.cpython-311.pyc
source/pyggi/line/__pycache__/line.cpython-310.pyc
source/pyggi/line/__pycache__/line.cpython-311.pyc
source/pyggi/tree/__pycache__/__init__.cpython-310.pyc
source/pyggi/tree/__pycache__/__init__.cpython-311.pyc
source/pyggi/tree/__pycache__/abstract_engine.cpython-310.pyc
source/pyggi/tree/__pycache__/abstract_engine.cpython-311.pyc
source/pyggi/tree/__pycache__/astor_engine.cpython-310.pyc
source/pyggi/tree/__pycache__/astor_engine.cpython-311.pyc
source/pyggi/tree/__pycache__/tree.cpython-311.pyc
source/pyggi/tree/__pycache__/xml_engine.cpython-311.pyc
source/pyggi/utils/__pycache__/__init__.cpython-310.pyc
source/pyggi/utils/__pycache__/__init__.cpython-311.pyc
source/pyggi/utils/__pycache__/helpers.cpython-310.pyc
source/pyggi/utils/__pycache__/helpers.cpython-311.pyc
source/pyggi/utils/__pycache__/logger.cpython-310.pyc
source/pyggi/utils/__pycache__/logger.cpython-311.pyc
source/repairCode/__pycache__/__init__.cpython-311.pyc
source/repairCode/__pycache__/crossover.cpython-311.pyc
source/.idea/inspectionProfiles/profiles_settings.xml
source/.idea/misc.xml
source/.idea/modules.xml
source/.idea/source.iml
source/RustCode/AST_Scripts/__pycache__/XMLVisitor.cpython-311.pyc
source/RustCode/AST_Scripts/__pycache__/XMLPrinter.cpython-311.pyc
source/RustCode/AST_Scripts/__pycache__/XMLExpVisitor.cpython-311.pyc
source/RustCode/AST_Scripts/__pycache__/XMLExpParser.cpython-311.pyc
source/RustCode/AST_Scripts/__pycache__/XMLExpLexer.cpython-311.pyc
source/RustCode/AST_Scripts/__pycache__/test_simulator.cpython-311.pyc
source/RustCode/AST_Scripts/__pycache__/simulator.cpython-311.pyc
source/RustCode/AST_Scripts/__pycache__/ExpVisitor.cpython-311.pyc
source/RustCode/AST_Scripts/__pycache__/ExpParser.cpython-311.pyc

# Ignore logs
logs/

# Ignore temp_variants and its subdirectories
tmp_variants/

*.pyc
